.change-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: clamp(20rem, 80%, 40rem);

  .field-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex: 1 0 0;

    input {
      height: 4rem !important;
      padding-left: 2rem !important;
      width: 100% !important;
    }

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 50%;
      padding-right: 0.5rem;

      header {
        margin-left: 1rem;
        color: $color-accent;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: 50%;
      height: 100%;
      padding-left: 0.5rem;

      .password-wrapper {
        position: relative;
        max-width: 100%;

        input {
          max-width: 100%;
          padding-right: 3.75rem;
        }

        .eye {
          cursor: pointer;
          position: absolute;
          left: 82%;
          bottom: 0;
          user-select: none;
          width: 2.25rem;
        }
      }
    }
  }
}