.navigation {
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;

  .button {
    gap: 1rem;
    align-items: center;
    user-select: none;

    &.last {
      background-color: #949494;
    }
  }
}