$color-primary: #003399;
$color-secondary: #d9dff5;
$color-accent: #da5c57;;
$color-lightorange: rgba(#da5c57, 0.5);
$color-purple: #4F52FF;
$color-lightpurple: rgba(#4F52FF, 0.5);
$color-blue: #2160E5;
$color-lightblue: #91B3FA;
$color-black: #252525;
$color-gray: #D9D9D9;

$level-0: #E04E48;
$level-1: #DA5C57;
$level-2: #F68A42;
$level-3: #9ACA3C;
$level-4: #18BAA8;
$level-5: #00ADDC;
$level-6: #003399;