.options-dnd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  cursor: grab;

  li {
    padding-block: 0.75rem;
    padding-inline: 2rem;
    border: 2px dashed $color-primary;
    border-radius: 10px;
    cursor: grab;
    opacity: 1;
    background-color: #e3e4fc;
    user-select: none;

    label {
      cursor: grab;
    }
  }
}